<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block header %}
        <ul>
            <li>
                {% if app.user.id is not defined %}
                    <a href="{{ url('fos_user_security_login') }}">Se connecter</a>
                </li>
                <li>
                    <a href="{{ url('fos_user_registration_register') }}">S'inscrire</a>
                {% else %}
                    <a href="{{ url('fos_user_profile_show') }}">Mon profil</a>
                {% endif %}
            </li>
            <li>
                <a href="{{ url('homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ url('newTrip') }}">Proposer un voyage</a>
            </li>
            <li>
                <a href="{{ url('searchTrip') }}">Chercher un voyage</a>
            </li>
        </ul>
    {% endblock %}
        {% block body %}
            {% for type, messages in app.session.flashbag.all() %}
                <br><br>
                {% for message in messages %}
                    <div class="row container-fluid" >
                        <div class="col-md-2"></div>
                        <div class="center alert alert-{{ type }} col-md-2">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
