{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid row">
        <div class="col-md-12"><br>
            <h1 style="text-align: center">Mes voyages</h1>
            <br>
        </div>
    </div>

    {% if numberPlaces > 0 %}
    <div class="container-fluid row" style="text-align: center">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="{{ url('trip', {id: trip.idTrip}) }}">Ce voyage</a>, vous avez réservé {{ trip.numberPlaces }} places.
                <br>
                Un imprévu ? Vous devez annuler votre réservation ?
                <a href="{{ url('cancelTrip', {id: trip.idTrip, numberPlaces: trip.numberPlaces}) }}">Cliquez ici</a>.
                <h6 style="font-size: 12px">Mais vous êtes un enculé.</h6>
            </div>
            <div class="col-md-4"></div>
    </div>
    {% else %}

    <div class="container-fluid row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            De {{ trip.startingPlace }} à {{ trip.endingPlace }}, le {{ trip.departureTime | date("d/m/y") }}, avec {{ trip.initialNumberPlaces }} places.
            <br>
            <a href="{{ url('trip', {id: trip.id}) }}">Voir le détail ici</a>
            Vous devez annuler votre proposition ? C'est vraiment batard mais <a href="{{ url('cancelTrip', {id: trip.id, numberPlaces: 0}) }}">cliquez ici</a>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endif %}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}
