{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid row">
        <div class="col-md-12"><br>
            <h1 style="text-align: center">Mes voyages</h1>
            <br>
        </div>
    </div>

    <div class="container-fluid row">
        <div class="col-md-12"><br>
            <h2 style="text-align: center">Mes réservations</h2>
            <br>
        </div>
    </div>

    {% if TripSave|length == 0 %}
        <h4 style="text-align: center">Vous n'avez encore aucune réservation ...</h4>
    {% endif %}

    <div class="container-fluid row" style="text-align: center">
        {% for trip in TripSave %}
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="{{ url('trip', {id: trip.idTrip}) }}">Ce voyage</a>, vous avez réservé {{ trip.numberPlaces }} {% if trip.numberPlaces == 1 %} place. {% else %} places. {% endif %}
                <br>
                Un imprévu ? Vous devez annuler votre réservation ?
                <a href="{{ url('confirmCancelTrip', {id: trip.idTrip, numberPlaces: trip.numberPlaces}) }}">Cliquez ici</a>.
                <h6 style="font-size: 12px">Mais vous êtes un enculé.</h6>
            </div>
            <div class="col-md-4"></div>
        {% endfor %}
    </div>

    <div class="container-fluid row">
        <div class="col-md-12"><br>
            <h2 style="text-align: center">Mes propositions</h2>
            <br>
        </div>
    </div>


    {% if trips|length == 0 %}
        <h4 style="text-align: center">Vous n'avez encore proposé aucun voyage ...</h4>
    {% endif %}

    <div class="container-fluid row">
        {% for trip in trips %}
            <div class="col-md-4"></div>
            <div class="col-md-4">
                De {{ trip.startingPlace }} à {{ trip.endingPlace }}, le {{ trip.departureTime | date("d/m/y") }}, avec {{ trip.initialNumberPlaces }} places.
                <br>
                <a href="{{ url('trip', {id: trip.id}) }}">Voir le détail ici</a>
                Vous devez annuler votre proposition ? <a href="{{ url('confirmCancelTrip', {id: trip.id, numberPlaces: 0}) }}">cliquez ici</a>
            </div>
            <div class="col-md-2"></div>
        {% endfor %}
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}
