{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid row">

        <div class="col-md-12"><br>
            <h1 style="text-align: center">Rechercher un voyage</h1><br>
        </div>
    </div>
    {% if request == 'GET' %}
        <div class="container-fluid row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% if app.request.attributes.get('_route') == 'searchTrip' %}
                    <a href="{{ url('searchTripFilters') }}" style="text-align: center">Plus de filtres</a>
                {% else %}
                    <a href="{{ url('searchTrip') }}">Moins de filtres</a>
                {% endif %}
                <br><br>
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
                {% if trips|length != 0 %}
                <div class="form-group">
                        <h1 class="text-center">Prochains voyages</h1>
                </div>
                {% endif %}

            {% else  %}
                <h1 class="text-center">Résultats de votre recherche</h1>
                <div>
                    <a href="{{ url('searchTrip') }}">Faire une autre recherche</a>
                </div>
            {% endif %}
            <div class="form-group row">
                {% for trip in trips %}
                        <div class="col-md-1"></div>
                        <div class="col-md-10 border border-primary rounded" style="text-align: center; padding: 3% 2% 3% 2%; margin-bottom: 5%">
                            <a href="{{ url('trip', { 'id': trip.id}) }}">Voir le détail</a><br>
                            <span class="font-weight-bold">Depart :</span> {{ trip.departureTime | date('Y-m-d H:i') }} <br>
                            <span class="font-weight-bold">Adresse de départ :</span> {{ trip.startingPlace }}<br>
                            <span class="font-weight-bold">Adresse d'arrivée :</span> {{ trip.endingPlace }}<br>
                            <span class="font-weight-bold">Prix :</span> {{ trip.unitPricePlusFees }} $<br>
                            <span class="font-weight-bold">{% if trip.numberPlacesRemaining == 1 or trip.numberPlacesRemaining == 0 %}Nombre de place : {% else %} Nombre de places : {% endif %}</span> {{ trip.numberPlacesRemaining }}<br>
                            <span class="font-weight-bold">Type de pneu :</span> {{ trip.tireType }}<br>
                            <span class="font-weight-bold">Place disponible par passager :</span> {{ trip.availableSpacePerPassenger }}<br>
                        </div>
                        <div class="col-md-1"></div>
                {% endfor %}
            </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    <script>
        // Using this tutorial for autocomplete address : https://www.youtube.com/watch?v=Rpzp0yCAmq4
        function activatePlacesSearch(){
            var inputstart = document.getElementById("form_startPlace");
            var inputend = document.getElementById("form_endPlace");
            var autocompletestart = new google.maps.places.Autocomplete(inputstart);
            var autocompleteend = new google.maps.places.Autocomplete(inputend);
        }
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk5VQ6Stqy4h02d6TvvBoT3KefsYZp1lA&libraries=places&callback=activatePlacesSearch"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}