{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid center-block" style="text-align: center"><br><br>
        <h1>Comptes bancaires</h1>
        <a class="btn btn-light btn-outline-dark btn-sm" href="{{ url('createAccount') }}">Créer un compte</a><br><br>
        <div class="row">
            <div class="col-md-3"><br></div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Proprio</th>
                        <th scope="col">Montant</th>
                        <th scope="col">Dernière opération</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for account in accountList %}
                            <th scope="row">{{ account.id }}</th>
                            <td><a href="{{ url('makeChanges', {"id": account.id}) }}">{{ account.owner }}</a></td>
                            <td><a href="{{ url('makeChanges', {"id": account.id}) }}">{{ account.amount }}</a></td>
                            <td><a href="{{ url('makeChanges', {"id": account.id}) }}">{{ account.lastOp | date("d/m/y") }}</a></td>
                        </tr></a>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %} {{ parent() }}
{% endblock %}
