{% trans_default_domain 'FOSUserBundle' %}
<br><br>
<div class="fos_user_user_show container bg-light border">
    <div class="row text-center border-bottom">
        <p class="col-4 my-auto">{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p class="col-4 my-auto">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <a class="btn btn-primary col-4" href="{{ url('editPrivateInfo') }}">Modifier mes informations personnelles</a>
    </div>
    <ul class="list-group"><br>
        {% for key, item in user.preference %}
            <li class="list-group-item">{{ key }} :
            {% if item %}
                {% if key == 'Animaux' %}
                    {{ item }}
                {% else %}
                    Oui
                {% endif %}
            {% else %}
                Non
            {% endif %}</li>
            <br>
        {% endfor %}
    </ul>
</div>
